The goal is:



I want predict how many overtakes (negative and positive) i do if i start on a position i have a given laps time i have a given car (Redbull, Mercedes), on a given track

Given:
- start postion
- end position
- avg laps time
- car / team
- track

In [175]:
import pandas as pd
import os

# Define the dataset directory
dataset_dir = 'dataset/kaggle'

# Get all CSV files
csv_files = [f for f in os.listdir(dataset_dir) if f.endswith('.csv')]

# Load all dataframes into a dictionary
dataframes = {}

for csv_file in sorted(csv_files):
    file_path = os.path.join(dataset_dir, csv_file)
    df = pd.read_csv(file_path)
    dataframes[csv_file] = df

print(f"Loaded {len(dataframes)} CSV files:")
print(list(dataframes.keys()))

Loaded 14 CSV files:
['circuits.csv', 'constructor_results.csv', 'constructor_standings.csv', 'constructors.csv', 'driver_standings.csv', 'drivers.csv', 'lap_times.csv', 'pit_stops.csv', 'qualifying.csv', 'races.csv', 'results.csv', 'seasons.csv', 'sprint_results.csv', 'status.csv']

Find the data

In [176]:
file = "circuits.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

circuits.csv
Shape: (77, 9)
Columns: ['circuitId', 'circuitRef', 'name', 'location', 'country', 'lat', 'lng', 'alt', 'url']

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [177]:
file = "constructor_results.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

constructor_results.csv
Shape: (12625, 5)
Columns: ['constructorResultsId', 'raceId', 'constructorId', 'points', 'status']

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [178]:
file = "constructor_standings.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

constructor_standings.csv
Shape: (13391, 7)
Columns: ['constructorStandingsId', 'raceId', 'constructorId', 'points', 'position', 'positionText', 'wins']

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [179]:
file = "constructors.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

constructors.csv
Shape: (212, 5)
Columns: ['constructorId', 'constructorRef', 'name', 'nationality', 'url']

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [180]:
file = "driver_standings.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

driver_standings.csv
Shape: (34863, 7)
Columns: ['driverStandingsId', 'raceId', 'driverId', 'points', 'position', 'positionText', 'wins']

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [181]:
file = "drivers.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

drivers.csv
Shape: (861, 9)
Columns: ['driverId', 'driverRef', 'number', 'code', 'forename', 'surname', 'dob', 'nationality', 'url']

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

Here we have found the lab time per raceid

In [182]:
file = "lap_times.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

lap_times.csv
Shape: (589081, 6)
Columns: ['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds']

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [183]:
file = "pit_stops.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

pit_stops.csv
Shape: (11371, 7)
Columns: ['raceId', 'driverId', 'stop', 'lap', 'time', 'duration', 'milliseconds']

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [184]:
file = "qualifying.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

qualifying.csv
Shape: (10494, 9)
Columns: ['qualifyId', 'raceId', 'driverId', 'constructorId', 'number', 'position', 'q1', 'q2', 'q3']

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [185]:
file = "races.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

races.csv
Shape: (1125, 18)
Columns: ['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time']

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

Here we have found the Start postion in the colum grid and the team / car in the constrctionid and also the circuitid

In [186]:
file = "results.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

results.csv
Shape: (26759, 18)
Columns: ['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId']

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [187]:
file = "seasons.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

seasons.csv
Shape: (75, 2)
Columns: ['year', 'url']

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [188]:
file = "sprint_results.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

sprint_results.csv
Shape: (360, 16)
Columns: ['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'statusId']

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [189]:
file = "status.csv"
print(file)
print(f"Shape: {dataframes[file].shape}")
print(f"Columns: {list(dataframes[file].columns)}")
dataframes[file].head()

status.csv
Shape: (139, 2)
Columns: ['statusId', 'status']

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

Build the T1 dataset

In [190]:
# Step 1: Get results with start position (grid) and finish position
results = dataframes['results.csv'].copy()

# Filter out DNF/DNS (only keep drivers who finished with a valid position)
results = results[results['positionOrder'].notna() & (results['positionOrder'] > 0)]
results = results[results['grid'] > 0]  # Valid starting position

# Calculate overtakes: positive = gained positions, negative = lost positions
# Overtakes = grid position - finish position (higher grid number = worse starting position)
results['overtakes'] = results['grid'] - results['positionOrder']

# Create a new clean table with only the required columns
overtakes_table = results[['raceId', 'driverId', 'grid', 'positionOrder', 'overtakes']].copy()

# Rename columns for clarity
overtakes_table.columns = ['raceId', 'driverId', 'start_pos', 'end_pos', 'overtakes']

# Reorder columns as requested
overtakes_table = overtakes_table[['raceId', 'driverId', 'overtakes', 'start_pos', 'end_pos']]

overtakes_table.head(20)

    raceId  driverId  overtakes  start_pos  end_pos
0       18         1          0          1        1
1       18         2          3          5        2
2       18         3          4          7        3
3       18         4          7         11        4
4       18         5         -2          3        5
5       18         6          7         13        6
6       18         7         10         17        7
7       18         8          7         15        8
8       18         9         -7          2        9
9       18        10          8         18       10
10      18        11          8         19       11
11      18        12          8         20       12
12      18        13         -9          4       13
13      18        14         -6          8       14
14      18        15         -9          6       15
15      18        16          6         22       16
16      18        17         -3         14       17
17      18        18         -6         12       18
18      18        19          2         21       19
19      18        20        -11          9       20

In [191]:
# Step 2: Calculate average lap time per driver per race
lap_times = dataframes['lap_times.csv'].copy()
grouped = lap_times.groupby(['raceId', 'driverId'])
avg_lap_times = grouped['milliseconds'].mean().reset_index()
avg_lap_times.columns = ['raceId', 'driverId', 'avg_lap_time_ms']

# Merge with overtakes_table
overtakes_table = overtakes_table.merge(avg_lap_times, on=['raceId', 'driverId'], how='left')

print(f"Overtakes table shape: {overtakes_table.shape}")
print(f"\nColumns: {list(overtakes_table.columns)}")
overtakes_table.head(10)

Overtakes table shape: (25121, 6)

Columns: ['raceId', 'driverId', 'overtakes', 'start_pos', 'end_pos', 'avg_lap_time_ms']

   raceId  driverId  overtakes  start_pos  end_pos  avg_lap_time_ms
0      18         1          0          1        1     98114.068966
1      18         2          3          5        2     98208.517241
2      18         3          4          7        3     98254.810345
3      18         4          7         11        4     98410.293103
4      18         5         -2          3        5     98424.655172
5      18         6          7         13        6    100082.192982
6      18         7         10         17        7     98864.381818
7      18         8          7         15        8     99534.716981
8      18         9         -7          2        9     99290.744681
9      18        10          8         18       10     96895.860465

In [192]:
# Step 3: Add circuit (track) information
# First, get circuitId from races
races_circuit = dataframes['races.csv'][['raceId', 'circuitId']].copy()
overtakes_table = overtakes_table.merge(races_circuit, on='raceId', how='left')

# Then merge with circuit names
circuits = dataframes['circuits.csv'][['circuitId', 'name']].copy()
circuits.columns = ['circuitId', 'circuit_name']
overtakes_table = overtakes_table.merge(circuits, on='circuitId', how='left')

print(f"Overtakes table shape: {overtakes_table.shape}")
print(f"\nColumns: {list(overtakes_table.columns)}")
overtakes_table.head(10)

Overtakes table shape: (25121, 8)

Columns: ['raceId', 'driverId', 'overtakes', 'start_pos', 'end_pos', 'avg_lap_time_ms', 'circuitId', 'circuit_name']

,raceId,driverId,overtakes,start_pos,end_pos,avg_lap_time_ms,circuitId,circuit_name
0,18,1,0,1,1,98114.068966,1,Albert Park Grand Prix Circuit
1,18,2,3,5,2,98208.517241,1,Albert Park Grand Prix Circuit
2,18,3,4,7,3,98254.810345,1,Albert Park Grand Prix Circuit
3,18,4,7,11,4,98410.293103,1,Albert Park Grand Prix Circuit
4,18,5,-2,3,5,98424.655172,1,Albert Park Grand Prix Circuit
5,18,6,7,13,6,100082.192982,1,Albert Park Grand Prix Circuit
6,18,7,10,17,7,98864.381818,1,Albert Park Grand Prix Circuit
7,18,8,7,15,8,99534.716981,1,Albert Park Grand Prix Circuit
8,18,9,-7,2,9,99290.744681,1,Albert Park Grand Prix Circuit
9,18,10,8,18,10,96895.860465,1,Albert Park Grand Prix Circuit

In [193]:
# Step 4: Add constructor (team) information
# First, get constructorId from results
results_constructor = dataframes['results.csv'][['raceId', 'driverId', 'constructorId']].copy()
overtakes_table = overtakes_table.merge(results_constructor, on=['raceId', 'driverId'], how='left')

# Then merge with constructor names
constructors = dataframes['constructors.csv'][['constructorId', 'name']].copy()
constructors.columns = ['constructorId', 'team_name']
overtakes_table = overtakes_table.merge(constructors, on='constructorId', how='left')

print(f"Overtakes table shape: {overtakes_table.shape}")
print(f"\nColumns: {list(overtakes_table.columns)}")
overtakes_table.head(10)

Overtakes table shape: (25309, 10)

Columns: ['raceId', 'driverId', 'overtakes', 'start_pos', 'end_pos', 'avg_lap_time_ms', 'circuitId', 'circuit_name', 'constructorId', 'team_name']

,raceId,driverId,overtakes,start_pos,end_pos,avg_lap_time_ms,circuitId,circuit_name,constructorId,team_name
0,18,1,0,1,1,98114.068966,1,Albert Park Grand Prix Circuit,1,McLaren
1,18,2,3,5,2,98208.517241,1,Albert Park Grand Prix Circuit,2,BMW Sauber
2,18,3,4,7,3,98254.810345,1,Albert Park Grand Prix Circuit,3,Williams
3,18,4,7,11,4,98410.293103,1,Albert Park Grand Prix Circuit,4,Renault
4,18,5,-2,3,5,98424.655172,1,Albert Park Grand Prix Circuit,1,McLaren
5,18,6,7,13,6,100082.192982,1,Albert Park Grand Prix Circuit,3,Williams
6,18,7,10,17,7,98864.381818,1,Albert Park Grand Prix Circuit,5,Toro Rosso
7,18,8,7,15,8,99534.716981,1,Albert Park Grand Prix Circuit,6,Ferrari
8,18,9,-7,2,9,99290.744681,1,Albert Park Grand Prix Circuit,2,BMW Sauber
9,18,10,8,18,10,96895.860465,1,Albert Park Grand Prix Circuit,7,Toyota

In [194]:
# Step 5: Add driver names
drivers = dataframes['drivers.csv'][['driverId', 'forename', 'surname']].copy()
drivers['driver_name'] = drivers['forename'] + ' ' + drivers['surname']
drivers = drivers[['driverId', 'driver_name']]
overtakes_table = overtakes_table.merge(drivers, on='driverId', how='left')

print(f"Overtakes table shape: {overtakes_table.shape}")
print(f"\nColumns: {list(overtakes_table.columns)}")
overtakes_table.head(10)

Overtakes table shape: (25309, 11)

Columns: ['raceId', 'driverId', 'overtakes', 'start_pos', 'end_pos', 'avg_lap_time_ms', 'circuitId', 'circuit_name', 'constructorId', 'team_name', 'driver_name']

,raceId,driverId,overtakes,start_pos,end_pos,avg_lap_time_ms,circuitId,circuit_name,constructorId,team_name,driver_name
0,18,1,0,1,1,98114.068966,1,Albert Park Grand Prix Circuit,1,McLaren,Lewis Hamilton
1,18,2,3,5,2,98208.517241,1,Albert Park Grand Prix Circuit,2,BMW Sauber,Nick Heidfeld
2,18,3,4,7,3,98254.810345,1,Albert Park Grand Prix Circuit,3,Williams,Nico Rosberg
3,18,4,7,11,4,98410.293103,1,Albert Park Grand Prix Circuit,4,Renault,Fernando Alonso
4,18,5,-2,3,5,98424.655172,1,Albert Park Grand Prix Circuit,1,McLaren,Heikki Kovalainen
5,18,6,7,13,6,100082.192982,1,Albert Park Grand Prix Circuit,3,Williams,Kazuki Nakajima
6,18,7,10,17,7,98864.381818,1,Albert Park Grand Prix Circuit,5,Toro Rosso,Sébastien Bourdais
7,18,8,7,15,8,99534.716981,1,Albert Park Grand Prix Circuit,6,Ferrari,Kimi Räikkönen
8,18,9,-7,2,9,99290.744681,1,Albert Park Grand Prix Circuit,2,BMW Sauber,Robert Kubica
9,18,10,8,18,10,96895.860465,1,Albert Park Grand Prix Circuit,7,Toyota,Timo Glock

In [ ]:
# Save the overtakes_table to CSV
output_dir = 'dataset'
output_file = 'dataset/t1/t1.csv'

# Create directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Save to CSV
overtakes_table.to_csv(output_file, index=False)

print(f"Table saved to: {output_file}")
print(f"Shape: {overtakes_table.shape}")
print(f"Columns: {list(overtakes_table.columns)}")

Table saved to: dataset/t1.csv
Shape: (25309, 11)
Columns: ['raceId', 'driverId', 'overtakes', 'start_pos', 'end_pos', 'avg_lap_time_ms', 'circuitId', 'circuit_name', 'constructorId', 'team_name', 'driver_name']